.container {
  width:80%;
  position: relative;
  padding:20px;
  background: -webkit-linear-gradient(#CC0000, #A00000); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#CC0000, #A00000); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#CC0000, #A00000); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#CC0000, #A00000); /* Standard syntax */
  margin: 0 auto;
  font-family: 'Open Sans',  sans-serif;
}



